### CS_5661 PROJECT : RedHat Business Prediction

#### Step 1: Import all the Libraries needed

In [33]:
import pandas as pd
import numpy as np
import xlrd

#### Step 2 : Read the people dataset & Print it

In [34]:
df = pd.read_csv("people.csv")
df.head()

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84

#### Step 3 : Read the activity_training dataset & print it

In [35]:
df_train1 = pd.read_csv("act_train.csv")
#df_train2 = pd.read_csv("C:/Masters/5661/Project REDHAT/act_train/act_train.csv")
df_train1.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

#### Step 4 : Drop some features which are difficult to convert in Activity_training Dataset

In [36]:
#Drop Charector column that are not required from feature matrix in activity table
df_train1 = df_train1.drop('activity_id', axis=1)
df_train1 = df_train1.drop('date', axis=1)
df_train1 = df_train1.drop('char_10', axis=1)

# drop colums with NAN for easier machine learning and remove complexity
df_train1 = df_train1.dropna(how='any')

df_train1.head()
df_train1.shape

(157615, 12)

#### Step 5: Perform One Hot Encoding on Activity_training Dataset

In [37]:
# perform Onehot encoding on remaining feature colums
cols_to_transform = ['activity_category','char_1','char_2','char_3','char_4','char_5','char_6','char_7','char_8','char_9']
for colums in cols_to_transform:
    df_with_dummies = pd.get_dummies(df_train1[colums])
    df_train1 = df_train1.drop(colums, axis=1)
    df_train1 = df_train1.join(df_with_dummies, lsuffix='_left', rsuffix='_right')

df_train1.head()
df_train1.shape

(157615, 161)

#### Step 6 : Define Label Vector

In [38]:
y_activity=df_train1['outcome']
y_activity

52         0
105        0
106        0
107        0
108        0
124        1
125        1
126        1
127        1
128        1
129        1
130        1
186        0
187        0
206        0
219        1
220        1
231        0
232        0
243        0
250        1
251        1
252        1
253        1
254        1
261        0
262        1
263        0
268        0
279        1
          ..
2196920    0
2196922    0
2196927    0
2196929    1
2196930    1
2196931    1
2197021    0
2197022    0
2197023    0
2197024    0
2197025    0
2197026    0
2197027    0
2197028    0
2197029    0
2197030    0
2197031    0
2197032    0
2197035    1
2197144    0
2197157    0
2197158    0
2197163    0
2197192    0
2197195    0
2197196    0
2197220    1
2197227    1
2197233    0
2197245    1
Name: outcome, dtype: int64

In [39]:
#drop label column that are not required from feature matrix in activity table to seperate y axis
df_train1 = df_train1.drop('outcome', axis=1)
df_train1.head()

,people_id,type 1_left,type 1_right,type 10_left,type 11_left,type 12_left,type 13_left,type 14_left,type 15_left,type 16_left,...,type 18_right,type 19,type 2,type 3,type 4,type 5,type 6_right,type 7_right,type 8_right,type 9
52,ppl_100025,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
105,ppl_100033,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
106,ppl_100033,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107,ppl_100033,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
108,ppl_100033,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

#### Step 6 : Drop some features which are difficult to convert in People Dataset

In [40]:
#drop feature column that are not required from feature matrix in people table 
df = df.drop('group_1', axis=1)
df = df.drop('date', axis=1)

df.head()
df.shape

(189118, 39)

#### Step 7: Perform One Hot Encoding on People Dataset

In [41]:
# perform Onehot encoding on remaining feature colums in people table
col_trans_ppl = ['char_1','char_2','char_3','char_4','char_5','char_6','char_7','char_8','char_9']
for colums in col_trans_ppl:
    df_dummies = pd.get_dummies(df[colums])
    df = df.drop(colums, axis=1)
    df = df.join(df_dummies, lsuffix='_left', rsuffix='_right')

df.head()
df.shape

(189118, 161)

#### Step 8 : Merge the two Datasets

In [42]:
df_new = df_train1.merge(df, on='people_id',how='left')
df_new.head()

,people_id,type 1_left_x,type 1_right_x,type 10_left_x,type 11_left_x,type 12_left_x,type 13_left_x,type 14_left_x,type 15_left_x,type 16_left_x,...,type 8_left_y,type 1,type 2_y,type 3_right_y,type 4_y,type 5_y,type 6,type 7,type 8_right_y,type 9_y
0,ppl_100025,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,ppl_100033,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,ppl_100033,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,ppl_100033,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,ppl_100033,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [43]:


#df_new['people_id'] = df_new['people_id'].astype('float64') 
#df_new = df_new.convert_objects(convert_numeric=True)
#df_new['people_id'] = pd.to_numeric(df_new['people_id'])

#Drop the People id as we have a updated Merged table with people and activity
df_new = df_new.drop('people_id', axis=1)
X = df_new

Y = y_activity

#### Step 9 : Split the data to do training and check for testing

In [65]:
# Randomly splitting the original dataset into training set and testing set
# The function"train_test_split" from "sklearn.cross_validation" library performs random splitting.
# "test_size=0.3" means that pick 30% of data samples for testing set, and the rest (70%) for training set.

from sklearn.cross_validation import train_test_split
#from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=2)

/Users/janak/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [66]:
x_train.shape
x_test.shape
y_train.shape
y_test.shape

(47285,)

#### Step 10 : Reduce Dimensions as the features are too large

In [67]:
### Import library for PCA
from sklearn.decomposition import PCA

In [68]:
# reduce dimensions. Use PCA
pca = PCA(n_components=50)
# train the algorithim
pca.fit(x_train)
# transform the vector for training set
X_transform = pca.fit_transform(x_train)

# put it into a dataframe
X_transform = pd.DataFrame(X_transform)
X_transform.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-29.234324,-0.518611,-0.800467,-0.528132,1.504303,0.154124,0.102105,0.630954,0.776154,-1.060187,...,-0.099554,-0.027513,0.003189,-0.257331,-0.200043,0.208368,-0.025456,0.018983,0.208705,0.273990
1,34.862525,1.969071,-0.567408,-0.030950,0.051783,-0.071202,-0.679637,-0.251427,-0.015660,0.467787,...,-0.303851,0.555557,-0.510258,0.298209,0.038355,0.051333,-0.157623,-0.286570,0.051737,0.246385
2,33.863945,2.208835,1.421296,-0.573924,0.378842,-0.489451,-0.643607,-0.539071,0.035378,0.943477,...,0.298460,-0.240829,-0.148533,-0.324836,0.283515,0.178380,0.127604,0.391761,0.553696,-0.498731
3,40.905938,2.709339,1.087537,-1.154614,0.386430,-0.504102,2.343010,0.199263,0.229896,0.419028,...,-0.027599,0.137852,-0.673557,-0.006363,-0.300838,0.437138,-0.198793,-0.109998,-0.041511,0.079601
4,36.757652,-2.100111,1.463354,-1.015037,0.628494,-0.919591,0.767852,-0.469801,-0.612936,-0.523363,...,0.282806,-0.270988,-0.170631,0.034619,0.343184,-0.106406,-0.015042,-0.203246,-0.371153,-0.253096

In [69]:
# transform the vector for testing set
X_transform_test = pca.fit_transform(x_test)
# put it into a dataframe
X_transform_test = pd.DataFrame(X_transform_test)

X_transform_test.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,33.004196,-2.147388,1.226971,-0.931523,0.885028,-0.484790,0.986896,0.119321,-0.529484,0.069734,...,0.436119,-0.505515,-0.062930,0.015072,0.441111,-0.188114,-0.004783,0.170390,-0.449194,0.184344
1,41.120443,1.540978,0.757724,0.510329,-1.206675,-0.892033,-0.715612,1.045846,0.419174,0.975577,...,-0.733052,0.593680,-0.511969,0.484422,0.279180,0.192128,-0.027474,0.258154,-0.071373,-0.112821
2,31.013290,-2.078422,-1.516363,0.718599,0.826768,-0.890457,-0.750991,-0.476414,0.151007,0.271320,...,0.081079,-0.410183,0.066365,-0.092636,-0.142843,-0.270313,0.346193,-0.012109,-0.215822,0.030861
3,37.135970,1.977390,0.517126,-0.600679,1.272214,0.086159,-0.329895,0.600695,0.437512,0.374376,...,0.857005,0.068324,0.068167,0.784802,0.266885,0.447455,0.181769,-0.346508,0.050704,0.333511
4,-48.991623,-0.043635,-0.969329,1.642233,0.878054,-0.315237,0.363022,-0.142410,-0.417575,0.091983,...,-0.192109,0.064477,0.069972,0.411554,0.016972,0.071418,-0.044940,0.169996,-0.154708,0.109302

#### Step 11 : Perform random Forest

In [74]:
#Random Forest is an classifier using multiple decision trees to arive a best prediction

from sklearn.ensemble import RandomForestClassifier

my_RandomForest = RandomForestClassifier(n_estimators = 20, bootstrap = True,random_state=2)

In [75]:
#train the RandomForest alg by using the FIT method

my_RandomForest.fit(X_transform,y_train,sample_weight=None)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=20, n_jobs=1, oob_score=False, random_state=2,
            verbose=0, warm_start=False)

In [76]:
#Make prediction over the trained RandomForest alg using the testing sample:

y_RandomForest_predict = my_RandomForest.predict(X_transform_test)

print(y_RandomForest_predict)
print(y_RandomForest_predict.shape)

[1 1 1 ..., 1 0 1]
(47285,)

In [77]:
# Function "accuracy_score" from "sklearn.metrics" will perform the element-to-element comparision and returns the 
# portion of correct predictions:
from sklearn.metrics import accuracy_score
score_RF = accuracy_score(y_test, y_RandomForest_predict)
print(score_RF)

0.822819075817

#### Accuracy is 0.833994226438

#### Step 12 : Perform AdaBoost

In [78]:
# Adaboost is a classifier which gives weightage to each features and reduces the errors in getting the best prediction

from sklearn.ensemble import AdaBoostClassifier

my_AdaBoost = AdaBoostClassifier(n_estimators=20,random_state=2)

In [79]:
#train the adaboost alg by using the FIT method

my_AdaBoost.fit(X_transform,y_train,sample_weight=None)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=20, random_state=2)

In [80]:
#Make prediction over the trained Adaboost alg using the testing sample:

y_adaboost_predict = my_AdaBoost.predict(X_transform_test)

print(y_adaboost_predict)
print(y_adaboost_predict.shape)

[1 1 1 ..., 1 0 1]
(47285,)

In [81]:
adaboost_score = accuracy_score(y_test, y_adaboost_predict)

print(adaboost_score)

0.839378238342

#### Accuracy is 0.839462831765

###  TESTING DATASET

#### Step 1 : Read the activity_testing dataset

In [25]:
df_test = pd.read_csv("act_test.csv")

df_test.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10
0,ppl_100004,act1_249281,2022-07-20,type 1,type 5,type 10,type 5,type 1,type 6,type 1,type 1,type 7,type 4,NaN
1,ppl_100004,act2_230855,2022-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 682
2,ppl_10001,act1_240724,2022-10-14,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 13,type 10,NaN
3,ppl_10001,act1_83552,2022-11-27,type 1,type 20,type 10,type 5,type 4,type 6,type 1,type 1,type 5,type 5,NaN
4,ppl_10001,act2_1043301,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015

#### Step 2 : Drop the features not required in activity_testing dataset

In [26]:
#drop Charector column that are not required from feature matrix in activity table
df_test = df_test.drop('activity_id', axis=1)
df_test = df_test.drop('date', axis=1)
df_test = df_test.drop('char_10', axis=1)

# drop colums with NAN for easier machine learning and remove complexity
df_test = df_test.dropna(how='any')

print(df_test.head())
df_test.shape

     people_id activity_category   char_1   char_2  char_3  char_4  char_5  \
0   ppl_100004            type 1   type 5  type 10  type 5  type 1  type 6
2    ppl_10001            type 1  type 12   type 1  type 5  type 4  type 6
3    ppl_10001            type 1  type 20  type 10  type 5  type 4  type 6
27  ppl_100010            type 1   type 2   type 1  type 9  type 3  type 1
28  ppl_100010            type 1   type 2   type 1  type 5  type 3  type 1

    char_6  char_7   char_8   char_9
0   type 1  type 1   type 7   type 4
2   type 1  type 1  type 13  type 10
3   type 1  type 1   type 5   type 5
27  type 3  type 2   type 2   type 1
28  type 3  type 1   type 2   type 1

(40092, 11)

#### Step 3 : Perform One Hot Encoding

In [27]:
# perform Onehot encoding on remaining feature colums with testing dataset
cols_to_transform = ['activity_category','char_1','char_2','char_3','char_4','char_5','char_6','char_7','char_8','char_9']
for colums in cols_to_transform:
    df_test_dummies = pd.get_dummies(df_test[colums])
    df_test = df_test.drop(colums, axis=1)
    df_test = df_test.join(df_test_dummies, lsuffix='_left', rsuffix='_right')

print(df_test.head())
df_test.shape

     people_id  type 1_left  type 1_right  type 10_left  type 11_left  \
0   ppl_100004            1             0             0             0
2    ppl_10001            1             0             0             0
3    ppl_10001            1             0             0             0
27  ppl_100010            1             0             0             0
28  ppl_100010            1             0             0             0

    type 12_left  type 13_left  type 14_left  type 15_left  type 16_left  \
0              0             0             0             0             0
2              1             0             0             0             0
3              0             0             0             0             0
27             0             0             0             0             0
28             0             0             0             0             0

     ...    type 18_right  type 19  type 2  type 3  type 4  type 5  \
0    ...                0        0       0       0       1       0
2    ...                0        0       0       0       0       0
3    ...                0        0       0       0       0       1
27   ...                0        0       0       0       0       0
28   ...                0        0       0       0       0       0

    type 6_right  type 7  type 8_right  type 9
0              0       0             0       0
2              0       0             0       0
3              0       0             0       0
27             0       0             0       0
28             0       0             0       0

[5 rows x 155 columns]

(40092, 155)

#### Step 4 : Merge People dataset with activity_testing datset

In [28]:
df_new_test = df_test.merge(df, on='people_id',how='left')
df_new_test.head()

,people_id,type 1_left_x,type 1_right_x,type 10_left_x,type 11_left_x,type 12_left_x,type 13_left_x,type 14_left_x,type 15_left_x,type 16_left_x,...,type 8_left_y,type 1,type 2_y,type 3_right_y,type 4_y,type 5_y,type 6,type 7_y,type 8_right_y,type 9_y
0,ppl_100004,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,ppl_10001,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,ppl_10001,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,ppl_100010,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,ppl_100010,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [29]:
#Drop the People id as we have a updated Merged table with people and activity
df_new_test = df_new_test.drop('people_id', axis=1)
X_test = df_new_test
X_test.head()

,type 1_left_x,type 1_right_x,type 10_left_x,type 11_left_x,type 12_left_x,type 13_left_x,type 14_left_x,type 15_left_x,type 16_left_x,type 17_left_x,...,type 8_left_y,type 1,type 2_y,type 3_right_y,type 4_y,type 5_y,type 6,type 7_y,type 8_right_y,type 9_y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

#### Step 5 : Reduce dimensions

In [30]:

# transform the vector for training set
X_test_transform = pca.fit_transform(X_test)

# put it into a dataframe
X_test_transform = pd.DataFrame(X_test_transform)
print(X_test_transform.head())

          0         1         2         3         4         5         6   \
0  27.568422  3.130501  1.416780  1.275320  0.280144 -0.265865  0.162439
1  41.573366  2.890950  1.359723 -0.269317  0.554957 -0.662409 -1.043242
2  41.574411  2.877926  1.272130 -0.459258  0.502540 -0.404056 -0.987036
3 -46.543884  0.258002 -0.122538 -0.703605 -0.926145  0.470001 -0.106253
4 -46.543065  0.346750  0.566292 -0.663942 -0.728709  0.009798 -0.256496

         7         8         9     ...           40        41        42  \
0 -0.902751  0.015387  0.678527    ...    -0.029197 -0.244378  0.218297
1 -0.325992 -0.379829 -0.065221    ...     0.273841  0.326562  0.218507
2 -0.476316 -0.129577 -0.024561    ...     0.229996  0.191443  0.580320
3  0.607538  0.291368 -1.403087    ...     0.139849 -0.710674 -0.178887
4  0.462982  0.041041 -1.276011    ...     0.332130 -0.884987 -0.507679

         43        44        45        46        47        48        49
0 -0.574010  0.619054 -0.354506  0.224398  0.101431  0.037178  0.035372
1  0.449390  0.409760  0.104739  0.005502 -0.123424  0.260705  0.069634
2  0.286166  0.002383 -0.277735 -0.290582  0.199242  0.364824  0.031558
3 -0.145967  0.181300  0.787045 -0.121388 -0.040493 -0.082028 -0.161963
4 -0.191227 -0.011680  0.698266 -0.183140 -0.090990 -0.195899 -0.224863

[5 rows x 50 columns]

#### Step 6 : Make Predictions

In [31]:
#Make prediction over the trained RandomForest alg using the testing sample:

y_RandomForest_predict_test = my_RandomForest.predict(X_test_transform)

print(y_RandomForest_predict_test)
print(y_RandomForest_predict_test.shape)

[1 1 1 ..., 1 1 1]
(40092,)

#### Step 7 : Save the results into a csv file

In [32]:
np.savetxt('myresultRedHat.csv', 
           y_RandomForest_predict_test, 
           delimiter=',', 
           fmt='%3i', 
           header='Results of Random tree prediction')